body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.header {
  background-color: #4CAF50;
  padding: 20px;
  text-align: center;
  color: white;
}

.header h2 {
  margin: 0;
}

.input-group {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.input-group input[type="text"] {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #45a049;
  color: white;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #3d8b3d;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.card h3 {
  margin-top: 0;
}

.btn-mostrar {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-mostrar:hover {
  background-color: #005f6b;
}

.proyectos-mostrar{
  text-align: center;
}